.topNav {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 33%;
    padding-right: 33%;
    justify-content: space-between;
}



.topNav i {
    font-size: 30px;
    color: #111;
}

.sideNav {
    display: flex;
    flex-direction: column;
    padding-top: 33%;
    padding-bottom: 33%;
}

.sideNav a {
    text-decoration: none;
    color: #111;
    font-size: 20px;
    padding: 10px;
}